*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-menu{
    display:flex;
    list-style:none;
    gap:1rem;
}

.form{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    align-items: center;
    gap: 1rem;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

header{
    display:flex;
    flex:0 80px;
    flex-direction:row;
    align-items:center;
    justify-content:start;
    gap: 2rem;
    list-style:none;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}

footer{
    display:flex;
    flex:0 80px;
    flex-direction:row;
    gap: 2rem;
    list-style:none;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}

main{
    display:flex;
    flex: 1;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    gap:1rem;
    margin-top:50px;
}

body{
    display:flex;
    flex-direction:column;
    font-size: 16px;
    background-color: rgba(100, 100, 100, 0.1);
}

@media (max-height: 600px) {
  header {
    display: none;
  }
  footer {
    display: none;
  }
  main {
    flex: 1 100vh;
  }
}