#wide-col{
    width: 90%;
}
#thin-col{
    width: 10%;
}

table td:nth-child(2) {
  text-align: center;      /* Horizontal centering */
}

.add-item{
    display:flex;
    flex-direction:row;
    gap:1rem;
    width: 95vw;
}

#add-item-button{
    margin-left: auto;
    margin-right: 1rem;
    width: 20%;
}

#item-input{
    margin-right: auto;
    margin-left: 1rem;
    width: 80%;
}

@media (min-width: 550px){
    /*At any size smaller than the specified px, the words added here become squished*/
#add-item-button::after{
    content: " Item";
}
}