.tables-container{
    display: flex;
    flex-direction:row;
    gap: 2rem;
    flex: 1;
    width: 100%;
}

.equal-sized-table{
    table-layout: fixed;
    height: 150px;
    align-items: center;
}